# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Data & Logs
*.log
*.sqlite
data/*.xlsx
data/*.csv
!data/.keep

# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Frontend
node_modules/
dist/
.output/